---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>
    <nav>
        <Hamburger />
        <div id="title_website">
            <h2>Kai</h2>
            <h1>Michiels</h1>
        </div>
        <div class="line"></div>
        <Navigation />
        <div class="line"></div>
    </nav>
</header>
