---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div id="postContent">
        <img src=`${frontmatter.thumbnail}` class="bigImage floatRight" />
        <h1>{frontmatter.title}</h1>
        <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
        <p style="margin: 0 0 40px 10px; font-size: 30px">
            <em>{frontmatter.description}</em>
        </p>
        <slot />
        <a href="/" id="backButton">Go Back</a>
    </div>
</BaseLayout>
